
<header class="intro-header" id="show_blog_pic">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1> New Blog</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<%= render 'form', blog: @blog %>


