<%= form_for([@blog,@blog.comments.build]) do |f| %>

  <div class="input-group input-group-sm chatMessageControls">
    <span class="input-group-addon" id="sizing-addon3">Name</span>
    <input id="comment_name" type="text" class="form-control" name="comment[name]" placeholder="Necessary" aria-describedby="sizing-addon3">
  </div>

  <div class="input-group input-group-sm chatMessageControls">
    <span class="input-group-addon" id="sizing-addon3" >Email</span>
    <input id="comment_email" type="text" class="form-control" name="comment[email]" placeholder="Optional(won't be seen by others)" aria-describedby="sizing-addon3">
  </div>

  <div class="input-group input-group-sm chatMessageControls">
    <span class="input-group-addon" id="sizing-addon3" >Comment</span>
    <textarea id="comment_body" type="text" class="form-control" name="comment[body]" placeholder="Type your message here.." aria-describedby="sizing-addon3"></textarea>
  </div>

  <div class="input-group input-group-sm chatMessageControls">
    <span class="input-group-btn">
      <button id="send_submit" class="btn btn-primary" type="submit" name="commit"><i class="fa fa-send"></i>Submit</button>
    </span>
  </div>


<% end %>

