
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" id="show_user_pic">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>About</h1>
          <hr class="small">
          <span class="subheading">Something about me and this site</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>I am a little boy.</p>
    </div>
  </div>
</div>

<hr>


