//@import "bootstrap-sprockets";
//@import "bootstrap";
#home_page {
  background-image: image-url('home-bg.jpg');
}
#show_blog_pic {
  background-image: image-url('post-bg.jpg');
}

#show_user_pic {
  background-image: image_url('about-bg.jpg');
}

#button_log_in {
  background-color: deepskyblue;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;

}

#Log_blog_pic {
  background-image: image_url('contact-bg.jpg');
}

/* Dropdown Button */
.dropbtn {

  padding: 18px;
  font-size: 14px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;

  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: black;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: transparent}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: transparent;
  opacity: 0.5;
}


#reply_btn {
  font-size: 10px;
  padding: 6px 12px;

}
/////////////////////////////////

//
///*u niversal */
//@mixin box-sizing {
//  -moz-box-sizing: border-box;
//  -webkit-box-sizing: border-box;
//  box-sizing: border-box;
//}
//
//body {
//  padding-top: 60px;
//}
//
//section {
//  overflow: auto;
//}
//
//textarea {
//  resize: vertical;
//}
//
//.center {
//  text-align: center;
//  h1 {
//    margin-bottom: 10px;
//  }
//}
//
//
//h1, h2, h3, h4, h5, h6 {
//  line-height: 1;
//}
//
//h1 {
//  font-size: 3em;
//  letter-spacing: -2px;
//  margin-bottom: 30px;
//  text-align: center;
//}
//
//h2 {
//  font-size: 1.2em;
//  letter-spacing: -1px;
//  margin-bottom: 30px;
//  text-align: center;
//  font-weight: normal;
//  color: $gray-light;
//}
//
//p {
//  font-size: 1.1em;
//  line-height: 1.7em;
//}
//
//#logo {
//  float: left;
//  margin-right: 10px;
//  font-size: 1.7em;
//  color: white;
//  text-transform: uppercase;
//  letter-spacing: -1px;
//  padding-top: 9px;
//  font-weight: bold;
//  &:hover {
//    color: white;
//    text-decoration: none;
//  }
//}
//
///* footer */
//
//footer {
//  margin-top: 45px;
//  padding-top: 5px;
//  border-top: 1px solid #eaeaea;
//  color: $gray-light;
//  a {
//    color: $gray;
//    &:hover {
//      color: $gray-darker;
//    }
//  }
//  small {
//    float: left;
//  }
//  ul {
//    float: right;
//    list-style: none;
//    li {
//      float: left;
//      margin-left: 15px;
//    }
//  }
//}
//
///*miscellaneous*/
//.debug_dump {
//  clear: both;
//  float: left;
//  width: 100%;
//  margin-top: 45px;
//  @include box_sizing;
//}
//
//aside {
//  section.user_info {
//    margin-top: 20px;
//  }
//  section {
//    padding: 10px 0;
//    margin-top: 20px;
//    &:first-child {
//      border: 0;
//      padding-top: 0;
//    }
//    span {
//      display: block;
//      margin-bottom: 3px;
//      line-height: 1;
//    }
//    h1 {
//      font-size: 1.4em;
//      text-align: left;
//      letter-spacing: -1px;
//      margin-bottom: 3px;
//      margin-top: 0px;
//    }
//  }
//}
//
//.gravatar {
//  float: left;
//  margin-right: 10px;
//}
//
//.gravatar_edit {
//  margin-top: 15px;
//}
//
//.stats {
//  overflow: auto;
//  margin-top: 0;
//  padding: 0;
//  a {
//    float: left;
//    padding: 0 10px;
//    border-left: 1px solid $gray-lighter;
//    color: gray;
//    &:first-child {
//      padding-left: 0;
//      border: 0;
//    }
//    &:hover {
//      text-decoration: none;
//      color: blue;
//    }
//  }
//  strong {
//    display: block;
//  }
//}
//
//.user_avatars {
//  overflow: auto;
//  margin-top: 10px;
//  .gravatar {
//    margin: 1px 1px;
//  }
//  a {
//    padding: 0;
//  }
//}
//
//.user.follow {
//  padding: 0;
//}
//
//input, textarea, select, .uneditable-input {
//  border: 1px solid #bbb;
//  width: 100%;
//  margin-bottom: 15px;
//  @include box_sizing;
//}
//
//input {
//  height: auto !important;
//}
//
//#error_explanation {
//  color: red;
//  ul {
//    color: red;
//    margin: 0 0 30px 0;
//  }
//}
//
//.field_with_errors {
//  @extend .has-error;
//  .form-control {
//    color: $state-danger-text;
//  }
//}
//
///* form */
//.checkbox {
//  margin-top: -10px;
//  margin-bottom: 10px;
//  span {
//    margin-left: 20px;
//    font-weight: normal;
//  }
//}
//
//#session_remember_me {
//  width: auto;
//  margin-left: 0;
//}
//
//.users {
//  list-style: none;
//  margin: 0;
//  li {
//    overflow: auto;
//    padding: 10px 0;
//    border-bottom: 1px solid $gray-lighter;
//  }
//}
//
///* microposts */
//
//.microposts {
//  list-style: none;
//  padding: 0;
//  li {
//    padding: 10px 0;
//    border-top: 1px solid #e8e8e8;
//  }
//  .user {
//    margin-top: 5em;
//    padding-top: 0;
//  }
//  .content {
//    display: block;
//    margin-left: 60px;
//    img {
//      display: block;
//      padding: 5px 0;
//    }
//  }
//  .timestamp {
//    color: $gray-light;
//    display: block;
//    margin-left: 60px;
//  }
//  .gravatar {
//    float: left;
//    margin-right: 10px;
//    margin-top: 5px;
//  }
//}
//
//aside {
//  textarea {
//    height: 100px;
//    margin-bottom: 5px;
//  }
//}
//
//span.picture {
//  margin-top: 10px;
//  input {
//    border: 0;
//  }
//}
//
//
